body{
    background: url(images/lead3.jpg)no-repeat center center fixed;
}

.hero{
    padding-top: 80px;
}

.prof-box{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    color: #f1f1f1;
    text-align: center;
}

.prof-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: #fff;
    border-width: 4px;    
}

h1{
    letter-spacing: 4px;
    font-size: 40px;
}

p{
    letter-spacing: 1px;
    font-size: 20px;
}

.line-break{
    width: 140px;
    margin: 0 auto;
    border-top: 1px solid #fff;
}

.boxes{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    color: #f1f1f1;
}

.scale-in-ver-center {
	-webkit-animation: scale-in-ver-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.customLogo{
  margin: 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
}


/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  