body{
    background: url(images/lead3.jpg)no-repeat center center fixed;
}

.hero{
    padding-top: 80px;
}

.prof-box{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    color: #f1f1f1;
    text-align: center;
}

.prof-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: #fff;
    border-width: 4px;    
}

h1{
    letter-spacing: 4px;
    font-size: 40px;
}

p{
    letter-spacing: 1px;
    font-size: 20px;
}

.line-break{
    width: 140px;
    margin: 0 auto;
    border-top: 1px solid #fff;
}

.projects{
    text-align: center;
    background-color: black;
}

.projects h2{
    color: #fff;
}