body{
    background: linear-gradient(to bottom, rgba(2, 7, 27, 0),rgba(2, 7, 27, 0)), url(./images/lead4.jpg) no-repeat center center;
    font-family: 'Rubik', sans-serif;
    font-weight: 300 !important;
}

img{
  max-width: 100%;
}

.hero{
    padding-top: 80px;
}

.prof-box{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    color: #f1f1f1;
    text-align: center;
    border-radius: 20px;
}

.prof-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: #fff;
    border-width: 4px;    
}

.image-text{
  background-image: url(./images/1.gif);
  background-size: cover;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  -webkit-background-clip: text;
  font-size: 30px;
}

h1{
    letter-spacing: 4px;
    font-size: 40px;
}

p{
    letter-spacing: 1px;
    font-size: 20px;
}

.line-break{
    width: 140px;
    margin: 0 auto;
    border-top: 1px solid #fff;
}

.boxes{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    color: #f1f1f1;
    border-radius: 5px;
}

.scale-in-ver-center {
	-webkit-animation: scale-in-ver-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.customLogo{
  margin: 10px;
  width: 35px;
  height: 35px;
}

span{
  transition: all 1s ease;
}

span.fancyColors{
  color: #5e99d5;
}

.btn-primary{
  background-color: #01204e;
  border-color: #01204e;
  width: 100%;
  padding: 10px 0;
}

/**
 * ----------------------------------------
 * Projects Section Start
 * ----------------------------------------
 */

.projects{
    background: linear-gradient(to bottom, rgba(2, 7, 27, 1),rgba(2, 7, 27, 0.7)), url(./images/projectsBg.jpg) no-repeat center center fixed;
    padding: 40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    color: #fff;
    border-radius: 5px;
}

.project-one img{
  width: 100%;
  height: 200px;
}

.git-button{
  background-color: #fff;
  color: blue;
  display: block;
  font-size: 1.8rem;
  text-align: center;
  padding: 10px 0px;
  border-radius: 20px;
  margin: 20px auto;
  font-size: 18px;
}

/**
 * ----------------------------------------
 * Footer Start
 * ----------------------------------------
 */

.footer{
  margin: 0 auto;
  display: block;
}

.footer p{
   color: #758398;
   font-size: 12px;
   text-align: center;
}

.footer p:hover{
  color: #fff;
}

/**
 * ----------------------------------------
 * Responsive
 * ----------------------------------------
 */

@media screen and (max-width: 372px) {
  .fancy{
    font-size: 15px;
  }
}




/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  